@import './variables';

.page-section {
	padding: 3rem 0;
	@include breakpoint-min(md) {
		padding: 6rem 0;
	}
}

.page-container {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	@include breakpoint-min(md) {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

.page-content {
	margin-bottom: 5rem;
	p {
		max-width: 712px;
	}
}