// Rubik Font Family
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

@import './variables';

html {
	font-family: $theme-font, $system-font;
	font-size: 16px;
}
body {
	font-size: 1rem;
	color: $dark;
}


// TEXT SIZING
.title-text {
	font: {
		weight: $font-weight-light;
		size: 2.25rem;
	}
	line-height: 2.5rem;
	margin: {
		top: 0;
		bottom: 1.5rem;
	}
}

.subheading-text {
	font: {
		weight: $font-weight-normal;
		size: 1.125rem;
	}
	line-height: 1.5rem;
	margin: {
		top: 0;
		bottom: 1rem;
	}
}

.body-text {
	font: {
		weight: $font-weight-light;
		size: 1rem;
	}
	line-height: 1.75rem;
	margin: {
		top: 0;
		bottom: 1.25rem;
	}
}

@include breakpoint-min(md) {
	.title-text {
		font-size: 3rem;
		line-height: 3.5rem;
		margin-bottom: 2.5rem;
	}

	.subheading-text {
		font-size: 1.5rem;
		line-height: 2rem;
		margin-bottom: 1.25rem;
	}

	.body-text {
		font-size: 1.25rem;
		line-height: 2rem;
	}
}

// COLOR STYLE
.text-dark {
	color: $dark;
}
.text-grey {
	color: $grey;
}
.text-theme {
	color: $theme-color;
}


// CALL TO ACTIONS

.cta-link {
	@extend .subheading-text;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: .25rem 0;
	color: $theme-color;
	text-decoration: none;
	transition: .3s ease-in-out;
	z-index: 1;
	&:hover {
		color: $white;
		&::after {
			height: 100%;
		}
	}
	&::after {
		content: '';
		display: inline-block;
		z-index: -1;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0.125rem;
		background: $theme-color;
		transition: .3s ease-in-out;
	}
}

.line-link {
	display: inline-block;
	text-decoration: none;
	position: relative;
	color: $dark;
	font-weight: $font-weight-normal;
	z-index: 1;
	&:hover {
		color: $white;
		&::after {
			height: calc(100% - .25rem);
		}
	}
	&::after {
		content: '';
		display: inline-block;
		z-index: -1;
		position: absolute;
		left: 0;
		bottom: 0.125rem;
		width: 100%;
		height: 1px;
		background: $black;
		transition: .3s ease-in-out;
	}
}