// Rubik Font Family
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

@import './variables';

html {
	font-family: $theme-font, $system-font;
	font-size: 16px;
}
body {
	font-size: 1rem;
}